{% extends 'core/base.html' %}
{% block content %}

<div style="text-align: center;"><h1>Welcome to Your Dashboard, {{ request.user.username }}</h1></div>
<div class="container" style="margin-top: 80px;">

    <!-- Statistics Section -->
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Showrooms Registered</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ Showrooms_registered }}</h6>
                    <a href="{% url 'showroom_list' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cars Registered</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ Cars_registered }}</h6>
                    <a href="{% url 'car_list' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customers Registered</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ Customers_registered }}</h6>
                    <a href="{% url 'customer_list' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
