{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Showroom Name</th>
          <th>Actions</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {% for showroom in showrooms %}
        <tr>
          <td>{{ showroom.name }}</td>
          <td>
            <!-- Actions Buttons -->
            <a href="{% url 'view_showroom' showroom.id %}" class="btn btn-primary">View</a>
            <button class="btn btn-danger delete-btn" onclick="deleteShowroom('{{ showroom.id }}')" id="showroom_{{ showroom.id }}">Delete</button>
          </td>
          <td>{{ showroom.id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
  function deleteShowroom(showroomId) {
            // Create an AJAX request
            var csrfToken = getCookie('csrftoken');
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/delete/', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', csrfToken);

            // Prepare the data to send
            var data = 'showroom_id=' + encodeURIComponent(showroomId);

            // Set up the callback function
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Request successful
                        var response = JSON.parse(xhr.responseText);
                        window.location.reload();

                    } else {
                        // Request failed
                        alert('Error: ' + xhr.statusText);
                    }
                }
            };

            // Send the AJAX request
            xhr.send(data);
        }
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
  </script>
{% endblock %} 