{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5">
    <h2>Add Customer</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="customer_name">Customer Name:</label>
            <input type="text" class="form-control" id="customer_name" name="customer_name">
        </div>
        <div class="form-group">
            <label for="capacity">Select Quantity of Cars purchased: </label>
            <input type="number" class="form-control" id="capacity" name="capacity" required>
        </div>
        <div class="form-group">
            <label>Car Purchased:</label><br>
            {% for car in cars %}
                <label>
                    <input type="checkbox" name="car_purchased" value="{{ car.id }}">
                    {{ car.car_name }}
                </label><br>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-success">Add Customer</button>
    </form>
</div>
{% endblock %}