{% extends 'core/base.html' %}
{% block content %}
{% if cars %}
<div style="transform: translateX(40%);">
  <h4>Filter By.</h4>
  <form action="{% url 'search' %}" method="get" class="form-inline">
    <div class="form-group mr-2">
      <select class="form-control" id="searchType" name="search_item">
        <option value="showrooms">Showrooms</option>
        <option value="inventory">Inventory</option>
        <option value="customers">Customers</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search Now</button>
  </form>
</div>
<div style="margin-top: 50px; margin-bottom: 50px;">
  <h1 style="text-align: center;">Edit/Delete a Car from the record</h1>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Car Name</th>
        <th>Car Price</th>
        <th>Showroom</th>
        <th>Car Model</th>
        <th>Edit Information</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for car in cars %}
      <tr>
        <td>
          {{ car.car_name }}
        </td>
        <td>
          {{ car.car_price }}
        </td>
        <td>
           {{ car.showroom.name }}
        </td>
        <td>
          {{ car.car_model }}
        </td>
        <td>
          <button class="btn btn-danger delete-car" value="{{ car.id }}" type="submit">Delete</button>
        </td>
        <td><a href="{% url 'edit_car' car.id %}" class="btn btn-primary">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
      $(".delete-car").click(function() {
          var carId = $(this).val(); // Get the value of the button (car ID)
          var csrftoken = "{{ csrf_token }}"; // Get the CSRF token from the template

          // Send AJAX request
          $.ajax({
              url: "{% url 'delete_car' %}", // URL to your delete car view
              method: "POST",
              data: {
                  car_id: carId, // Send the car ID as data
                  csrfmiddlewaretoken: csrftoken, // Send the CSRF token
              },
              headers: {"X-CSRFToken": csrftoken}, // Include CSRF token in headers
              success: function(response) {
                  // Reload the page after successful deletion
                  location.reload();
              },
              error: function(xhr, errmsg, err) {
                  // Handle error
                  console.log(errmsg);
              }
          });
      });
  });
</script>
{% else %}
<div class="alert alert-danger" role="alert">
 Currently you have no Cars
</div>
{% endif %}
{% endblock %}